{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} - Signup {% endblock title %}

{% block main %}
      <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/icon.svg' %}" alt="icon" />
          </a>
          <h3>Account SignUp</h3>
          <p>Create a new developer account</p>
        </div>
        {% include '_partials/message.html' %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form action="{% url 'accounts:signup' %}" class="form auth__form" method="POST">
            {% csrf_token %}
          <div class="form__field">
            <label for="formInput#text">Username: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="username"
              placeholder="e.g. Dennis"
              required
            />
          </div>
          <!-- Input:Text -->
          <div class="form__field">
            <label for="formInput#text">First Name: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="first_name"
              placeholder="e.g. Dennis"
              required
            />
          </div>

           <div class="form__field">
            <label for="formInput#text">Last Name: </label>
            <input
              class="input input--text"
              id="formInput#text"
              type="text"
              name="last_name"
              placeholder="e.g. Ivanov"
              required
            />
          </div>

          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#email">Email Address: </label>
            <input
              class="input input--email"
              id="formInput#email"
              type="email"
              name="email"
              placeholder="e.g. user@domain.com"
              required
            />
          </div>

          <!-- Input:Password -->
          <div class="form__field">
            <label for="formInput#password">Password: </label>
            <input
              class="input input--password"
              id="formInput#passowrd"
              type="password"
              name="password1"
              placeholder="••••••••"
              required
            />
          </div>
          <!-- Input:Password -->
          <div class="form__field">
            <label for="formInput#confirm-password">Confirm Password: </label>
            <input
              class="input input--password"
              id="formInput#confirm-passowrd"
              type="password"
              name="password2"
              placeholder="••••••••"
              required
            />
          </div>
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Sign  Up" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Already have an Account?</p>
          <a href="{% url 'accounts:login' %}">Log In</a>
        </div>
      </div>
    </div>
{% endblock main %}