{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} - Signup {% endblock title %}

{% block main %}
      <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/icon.svg' %}" alt="icon" />
          </a>
          <h3>Account SignUp</h3>
          <p>Create a new developer account</p>
        </div>
        {% include '_partials/message.html' %}
        <form action="{% url 'accounts:signup' %}" class="form auth__form" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{ field.label }}</label>
                </div>
                {{ field }}
                <small>{{ field.help_text }}</small>
                {% for error in field.errors  %}
                       <p style="color:red"> {{ error }}</p>
                {% endfor %}
            {% endfor %}
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Sign  Up" />
          </div>
        </form>
        <div class="auth__alternative">
          <p>Already have an Account?</p>
          <a href="{% url 'accounts:login' %}">Log In</a>
        </div>
      </div>
    </div>
{% endblock main %}